/* HistoryPage.module.scss */

@use '../../variables.scss' as *;

body {
    background-color: $primaryCream;
}

h1 {
    font-family: $titleFont;
    text-align: center;
}

.historyPage {
    width: 100%;
}

.historyContainer {
    background-color: $primaryCream;
    border-radius: 0px;
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
}

.historySearch {
    text-align: center;
    font-family: $breadFont;
}