@use '../variables.scss' as *;

.loginPageContainer {
    width: 100vw;
    margin-top: 7rem;
    background-color: $primaryCream;
}

.loginPageMain {
    @include flex-column;
    gap: 1rem;
}

.loginPageLogo {
    width: 12rem;
    margin-bottom: 2rem;
}

.loginPageInputContainer {
    @include flex-column;
    gap: 1rem;
    width: 60%;
}

.forgotPassword {
    align-self: end;
    position: relative;
    top: -10px;
}