@use '../variables.scss' as *;

.loginPageContainer {
    width: 100vw;
    margin-top: 4rem;
    background-color: $primaryCream;
    @include flex-column;
}

.loginPageMain {
    width: 100%;
    @include flex-column;
    gap: 1rem;
    @media (min-width: 50rem) {
        width: 50rem;
    }
}

.loginPageLogo {
    width: 12rem;
    margin-bottom: 2rem;
}

.loginPageInputContainer {
    @include flex-column;
    gap: 1rem;
    width: 60%;
}

.forgotPassword {
    align-self: end;
    position: relative;
    top: -10px;
}