@use '../variables' as *;

.cartProductCardWrapper {
    width: 100%;
    width: 100%;
    background-color: $primaryCream;
    border-radius: $primaryBorderRadius;
    font-size: 20px;
    font-weight: 500;
    font-family: $titleFont;
    box-shadow: $defaultShadow;
    padding: 1rem 0 0  1rem;
} 

.cartProductCardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    column-gap: auto;
}

.productExtraIngredient {
    font-size: 16px;
    font-weight: 400;
}

.changeValue {
    width: 6rem;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 1rem;
}

.changeValue button {
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    border: none;
    background-color: $primaryCream;
    font-size: 20px;
    font-weight: 500;
}

.productPriceTotal {
    font-size: 24px;
    align-self: flex-end;
    margin-bottom: .4rem;
}