@use '../variables' as *;

.categoryScrollBarContainer {
    height: 170px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 1rem;
}

.categoryCard {
    height: 120px;
    @include flex-column;
    gap: .5rem;
    padding: 1rem;
    width: 500px;
    //border: 2px solid $primaryOrange;
    border-radius: $primaryBorderRadius;
    box-shadow: $defaultShadow;
    background-color: $primaryWhite;
}

.categoryCard:hover {
    cursor: pointer;
    scale: 1.02;
}

.categoryScrollBarContainer::-webkit-scrollbar {
    display: none;
}

.categoryCardImageContainer {
    width: 80px;
    height: 80px;
}

.categoryCardImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
}