@use '../variables' as *;

.checkIngredientsForm {
    width: 24rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.checkIngredientsContainer {
    display: flex;
    align-items: center;
}

.checkIngredientsInput {
    width: 20px;
    height: 20px;
    accent-color: $primaryOrange;
}


.checkIngredientsLabel {
    margin-left: .5rem;
}

.checkIngredientsPrice {
    font-weight: 600;
}