@use '../variables' as *;

.headerContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: $primaryCream;
    z-index: 10;
}

.headerMenuIcon {
    width: 45px;
}

.headerName, .headerName:active {
    display: flex;
    gap: .2rem;
    align-items: end;
    position: relative;
    top: -2px;
    text-decoration: none;
    color: black;
}

.headerNamePizzaIcon {
    width: 26px;
}

.headerNameH1 {
    font-family: $titleFont;
    font-size: 32px;
    font-weight: 500;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.cartIconContainer {
    display: flex;
    align-items: center;
}

.headerCartIcon {
    width: 35px;
}