// Order.module.scss

@use '../variables' as *;

$font-color: #333;
$bg-color: #f6f6f6;
$primary-color: #eb5757;
$secondary-color: #828282;
$highlight-color: #27ae60;
$border-color: #e0e0e0;

.orderCard {
    font-family: $breadFont;
    color: $font-color;
    background-color: $primaryWhite;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.154);

    &Header {
        color: black;
        padding: 0.5rem;
        font-size: 1rem;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        font-family: $titleFont;
    }

    &Details {
        padding: 0.75rem;

        p {
            line-height: 1.5;
            color: black;
        }
    }

    &Completed {
        background-color: $primaryRed;
        border-color: $highlight-color;
    }

    .orderButton {
        width: 3rem;
        padding: 0.5rem 0;
        background-color: $primaryGreen;
        border: none;
        border-radius: 8px 0 0 0;
        color: white;
        font-size: 1rem;
        font-family: $titleFont;
        cursor: pointer;
        transition: background-color 0.3s;
        place-self: flex-end;
    }
}

.timeRed {
    background-color: $primaryRed;
}

.timeYellow {
    background-color: $primaryYellow
}

.startButton {
    background-color: $primaryOrange;
    width: 5rem;
    padding: 0.5rem 0;
    border: none;
    border-radius: 8px 0 0 0;
    color: white;
    font-size: 1rem;
    font-family: $titleFont;
    cursor: pointer;
    transition: background-color 0.3s;
    place-self: flex-end;
}

.itemTitle {
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 400;
}

.itemComment {
    font-family: $breadFont;
    font-size: 12px;
    padding: 0px;
    margin: 0px;

}

.commentTitle {
    font-family: $titleFont;
    font-size: 20px;
}

.commentBread {
    font-family: $breadFont;
    font-size: 12px;
}

.orderTotal {
    font-family: $titleFont;
    align-self: flex-end;
    padding-right: 0.5rem;
    font-weight: 500;
    font-size: 24px;
}