$order-list-gap: 1rem;

.orderList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: $order-list-gap;
    padding: $order-list-gap;
    margin: 0 auto;

    @media (max-width: 468px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}