@use '../variables' as *;

.menuStaffButton {
    width: 100%;
    @include flex-column;
    background-color: $primaryOrange;
    border-radius: $primaryBorderRadius;
    border: none;
    box-shadow: $defaultShadow;
    padding: 2rem;
    text-decoration: none;
    font-size: 20px;
    color: white;
}