@use '../variables' as *;

.navMenuContainer {
    width: 60%;
    max-height: 100vh;
    background-color: $primaryOrange;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8rem;
    font-family: $titleFont;
    font-weight: 500;
    font-size: 26px;
    padding-top: 2.5rem;
    padding-left: 2rem;
    border-right: 2px solid $primaryRed;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}

.navList {
    @include flex-column;
    align-items: start;
    gap: 2rem;
    list-style-type: none;
}

.navListItem {
    text-decoration: none;
    color: black;
}

.navListLogin {
    align-self: end;
    padding: 12.5rem 1.2rem;
    font-size: 20px;
}

.navListLogin a {
    text-decoration: none;
    color: black;
}