@use '../variables' as *;

.productCardContainer {
    max-width: 35rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
    background-color: $primaryCream;
    box-shadow: $defaultShadow;
    border-radius: $primaryBorderRadius;
}

.productCardContainer:hover {
    //cursor: pointer;
    scale: 1.02;
}

.productCardImage {
    width: 100px;
    height: 100px;
    padding-bottom: .3rem;
}

.productCardInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 0 1rem;
}

.productCardInfo h3 {
    font-family: $titleFont;
    font-weight: 500;
    font-size: 26px;
}

.productCardInfo p {
    font-family: $breadFont;
    height: auto;
    max-width: 12rem;
    //width: 12rem;
}

.productCardButton {
    align-self: end;
}

