@use '../../variables.scss' as *;

.confirmationPageContainer {
    width: 100vw;
    background-color: $primaryCream;
    @include flex-column;
}

.confirmationPageCardContainer {
    width: 100%;
    padding: 1rem;
}